:root{
  --animation-duration: 500ms;
}

.cart{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  right: 0;

  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.cart-remove{
  display: none;
}

.cart-content{
  width: 30%;
  height: 100%;
  background-color: white;
}

@keyframes fade-in {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes fade-out {
  from{
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from{
    transform: translate(300px, 0);
  }

  to{
    transform: translate(0, 0);
  }
}

@keyframes slide-to-right {
  from{
    transform: translate(0, 0);
  }

  to{
    transform: translate(300px, 0);
  }
}